
:root{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  display: block;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  background-color:  lightpink;
  color: white;
}


h1{
    padding: 1rem 2rem 2rem;
}

#inputDob{
    margin: 2rem auto 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
}

main {
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
  height: 100%;
}


#checkBtn{
  padding: 0.5rem;
  display: block;
  font-size: 1.3rem;
  margin: 1rem auto 3rem;
  width: 5rem;
  background-color: black;
  color: white;
  border: 3px outset var(--sec-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

#outputDiv{
  padding: 0.5rem;
  text-align: center;
  display: block;
  font-size: 1rem;
  width: 450px;
  margin: 1rem auto;
  background-color: black;
  color: pink;
  border: 1px outset black;
  border-radius: 0.5rem;
}